body{
   padding-top:60px;
}

.container{
    width:95%;
}

.navbar{
    background-color:#003380;
    color:white;
}

.menuoption{
    line-height:51px;
    padding-left:15px;
    padding-right:15px;
}

.menuoption:hover{
    background-color:white;
    color:#0066ff ;
}

glyphicon-user{
    color:#003380;
}

.panel-default > .panel-heading-custom {
    background:#003380;
    color: #fff;
}


